<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ last_name }}</title>
</head>
<body>

<div>
    <h3>First_name: {{ first_name }}</h3>
    <h3>Last name: {{ last_name }}</h3>
    <h3>Age: {{ age }}</h3>
    <a href="{% url 'author_books' id %}">More books</a>
    <br><a href="{% url 'books_list' %}">Back to books list</a>
</div>

</body>
</html>