<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h2>Books:</h2>
<ul>
    {% for book in bk %}
    <li>
    <p>{{book}}</p>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'books_list' %}">Back to list</a>

</body>
</html>