<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
</head>
<body>
<h2>{{ book.title }}</h2>
<div>
    {% for author in authors %}
    {% if book.author_id == author.id %}
    <h4>Author: <a href="{% url 'author_info' author.id %}">{{author.first_name}} {{author.last_name}}</a></h4>
    {% endif %}
    {% endfor %}
</div>
<h3>Released year: {{ book.released_year }}</h3>
<div>
    {{ book.description }}
    <a href="{% url 'books_list' %}"><br>Back to list</a>
</div>
</body>
</html>