<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>

    {% for book in books %}
    <li>
        <h2>{{book.title}}</h2>
        <h3>{{book.first_name}} {{book.last_name}}</h3>
        <p>{{book.description|truncatewords:15}} <a href="{% url 'book_detail' book.id %}">Read more</a></p>
        <hr>
    </li>
    {% endfor %}

</ul>
</body>
</html>
